.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    justify-content: center;
}

.fact-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.fact-card:hover{
    transform: scale(1.01);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.fact-text {
    font-size: 16px;
    color: #333;
}

.fact-length {
    font-size: 14px;
    color: #777;
}
